:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}
