.status {}
:global(.ui.header) .status :global(.icon).icon {
  display: none;
  margin-left: 10px;
}
:global(.ui.header) .status:hover :global(.icon).icon {
  display: inline-block;
}
:global(.ui.input).hide,
.hide {
  display: none;
}
