:global(.ui.action.input) > :global(.button).hide {
  display: none;
}
:global(.ui.popup).error {
  background-color: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
}
:global(.ui.right.center.popup).error::before {
  background-color: #fff6f6;
  box-shadow: -1px 1px 0 0 #e0b4b4;
}
